html,body,* {
	margin: 0;
	padding: 0;
	border: none;
}

.container {
	padding: 10px;
	margin: 10px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

h1.title {
	font-size: 50pt;
}

#github-data {
}

.github-project {
	display: inline-block;
	vertical-align: top;

	border: 3px solid black;
	width: 270px;

	margin-left: 20px;
	margin-top: 10px;
	padding: 0px 10px;
	padding-bottom: 20px;

	background-color: #f4f4f4;
}
